.bootstrap__table {
    display: grid;
    grid-template-columns: 1.166666667fr 0.833333333fr;
    height: 1300px;
}

.bootstrap__tableLeft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.bootstrap__tableLineOne {
    border-right: 1px solid #ededef;
    border-top: 1px solid #ededef;
}

.bootstrap__tableLineTwo {
    border-right: 1px solid #ededef;
}

.bootstrap__tableLineThree {
    border-right: 1px solid #ededef;
    border-bottom: 1px solid #ededef;
}


.bootstrap__tableRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.icon {
    position: absolute;
    z-index: 8;
    padding-top: 15rem;
    padding-left: 3rem;
    opacity: 0.6;
}
.icon2 {
    position: absolute;
    z-index: 7;
    padding-top: 15rem;
}

.icon3 {
    position: absolute;
    z-index: 9;
    margin-top: 10rem;
    margin-left: 7rem;
}

.icon4 {
    position: absolute;
    z-index: 10;
    margin-top: 10rem;
    margin-left: 7.5rem;
}

.bootstrap__tableRightInfo {
    position: absolute;
}

.bootstrap__tableTitle {
    margin-left: 85px;
    font-size: 57px;
    line-height: 70px;
    color: #000000;
    font-weight: bold;
}

.bootstrap__tableTwoTitle {
    margin-left: 85px;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.bootstrap__tableText {
    margin-left: 85px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    font-weight: 300;
}




/*BOOTSTRAP TABLE TWO*/




.bootstrap__tableTwo {
    display: grid;
    grid-template-columns: 0.833333333fr 1.166666667fr;
    height: 1300px;
}

.bootstrap__tableTwoLeft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.bootstrap__tableTwoRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.iconTableTwo {
    position: absolute;
    z-index: 7;
    padding-top: 8rem;
    height: 90%;
    width: 100%;
}

.icon2TableTwo {
    position: absolute;
    z-index: 9;
    height: 82.4%;
    width: 100%;
    padding-top: 4rem;
    padding-left: 4rem;
}

.icon3TableTwo {
    position: absolute;
    z-index: 9;
    margin-left: 8.5rem;
}

.bootstrap__tableTwoLeftInfo {
    position: absolute;
}



/*BOOTSTRAP TABLE THREE*/

.icon2TableThree {
    position: absolute;
    z-index: 8;
    padding-top: 12rem;
    padding-left: 2.5rem;
    opacity: 0.6;
}
.iconTableThree {
    position: absolute;
    z-index: 7;
    padding-top: 9rem;
}

.icon3TableThree {
    position: absolute;
    z-index: 9;
    margin-top: 22rem;
    margin-left: 7rem;
}

.icon4TableThree {
    position: absolute;
    z-index: 10;
    margin-top: 22rem;
    margin-left: 2.5rem;
}

.bootstrap__tableRightInfo {
    position: absolute;
}

.bootstrap__tableTitle {
    margin-left: 85px;
    font-size: 57px;
    line-height: 70px;
    color: #000000;
    font-weight: bold;
}

.bootstrap__tableTwoTitle {
    margin-left: 85px;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.bootstrap__tableText {
    margin-left: 85px;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    font-weight: 300;
}

