.bootstrap__table {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    height: 2000px;
}

.bootstrap__tableLeft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.bootstrap__tableLine {
    border: 1px solid #ededef;
}

.bootstrap__tableRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.icon {
    position: absolute;
    z-index: 8;
    opacity: 0;
    margin-top: 11rem;
}
.icon2 {
    position: absolute;
    z-index: 7;
    padding: 35px;
    margin-top: 12rem;
}

.icon3 {
    position: absolute;
    z-index: 9;
    margin-top: 10rem;
    margin-left: 3.5rem;
}

.icon4 {
    position: absolute;
    z-index: 10;
    margin-top: 10rem;
    margin-left: 4rem;
}

.bootstrap__tableRightInfo {
    position: absolute;
}

.bootstrap__tableRightTitle {
    margin-left: 85px;
    font-size: 57px;
    line-height: 70px;
    color: #000000;
    font-weight: 700;
}

.bootstrap__tableRightText {
    margin-left: 85px;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    font-weight: 300;
}