.star__project {
    position: relative;
    z-index: -1;
    min-height: 900px;
    clip-path: polygon(50% 13%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
    background: #ededef;
    margin-bottom: -300px;
}

.star__projectSloy {
    position: relative;
    z-index: 1;
    min-height: 900px;
    clip-path: polygon(50% 13%, 100% 26%, 100% 76%, 50% 63%, 0 63%, 0 13%);
    background: #966cfd;
}

.star__imageBack {
    position: relative;
    width: 100%;
}

.star__projectLeft {
    position: absolute;
    margin-left: 150px;
    margin-top: 350px;
    z-index: 3;
}

.star__projectLeftTitle {
    font-size: 49px;
    line-height: 91px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Work Sans";
}
/*.star__projectContent {*/
/*    position: relative;*/
/*    padding-top: 400px;*/
/*}*/

/*.star__info {*/
/*    clip-path: polygon(46% 0, 100% 0, 100% 100%, 45% 100%, 0 82%, 0 0);*/
/*    height: fit-content;*/
/*    background: #ededef;*/
/*}*/

/*.star__infoContainer {*/
/*    max-width: 1446px;*/
/*    height: fit-content;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    background: red;*/
/*}*/

/*.star__infoLine {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.star__infoLineOne {*/
/*    margin-bottom: 100px;*/
/*}*/

/*.star__infoText {*/
/*    font-size: 20px;*/
/*    line-height: 25px;*/
/*    color: #000000;*/
/*    font-weight: 300;*/
/*    font-family: "Work Sans";*/
/*    text-align: right;*/
/*}*/

/*.star__infoLineLeft {*/
/*    width: 50%;*/
/*}*/

/*.star__infoLineRight {*/
/*    width: 50%;*/
/*}*/



@media (max-width: 1440px) {
    .star__project {
        margin-bottom: -227px;
    }
    .star__projectLeft {
        position: absolute;
        margin-left: 70px;
        margin-top: 200px;
        z-index: 3;
    }
}

@media (max-width: 1024px) {
    .star__project {
        margin-bottom: -213px;
    }
    .star__projectLeftTitle {
        font-size: 30px;
        line-height: 63px;
        color: #ffffff;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .star__project {
        min-height: 617px;
        margin-bottom: -149px;
    }
    .star__projectSloy {
        min-height: 612px;
    }
    .star__projectLeft {
        margin-left: 30px;
        margin-top: 136px;
    }

    .star__projectLeftTitle {
        font-size: 22px!important;
        line-height: 40px!important;
    }

    img {
        width: 30px;
    }
}