.why__me {
    position: relative;
    z-index: -1;
    min-height: 1200px;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
    background: #ededef;
    margin-bottom: -65px;
}

.why__meSloy {
    position: relative;
    z-index: 1;
    min-height: 1200px;
    clip-path: polygon(50% 0, 100% 0, 100% 62%, 50% 62%, 0 75%, 0 13%);
    background: #966cfd;
}

.why__meImageBack {
    position: absolute;
    width: 100%;
}

.why__meLeft {
    position: relative;
    z-index: 3;
}

.why__meContent {
    position: absolute;
    z-index: 4;
    width: 100%;
    display: flex;
}

.why__meContentLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.karcher {
    width: 215px;
    height: 75px;
    margin-left: 10rem;
    margin-top: 5.5rem;
}

.lactel {
    width: 250px;
    height: 160px;
    margin-left: 19rem;
}

.why__meContentRight {
    width: 50%;
}

.goprint {
    width: 340px;
    height: 140px;
    margin-left: 18rem;
}

.ukrtelecom {
    width: 278px;
    height: 100px;
    margin-left: 7rem;
}

.danfos {
    width: 450px;
    height: 150px;
    margin-left: 22rem;
}

.why__meContentRight {
    margin-top: 13rem;
    margin-left: 13rem;
}

.whyme__title {
    font-size: 51px;
    line-height: 70px;
    color: #ffffff;
    font-weight: bold;
}

.whyme__text {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}